<!DOCTYPE html>
<html lang="en">

<head>
    <title>speedrun</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{styles}}">
    <link rel="stylesheet" href="{{codicons}}">
</head>

<script>
    const vscode = acquireVsCodeApi();

    const startTimer = () => {
        vscode.postMessage({
            messageType: "startTimer"
        });
    };

    const stopTimer = () => {
        vscode.postMessage({
            messageType: "stopTimer"
        });
    };

    const splitTimer = () => {
        vscode.postMessage({
            messageType: "splitTimer"
        });
    };

    const resetTimer = () => {
        vscode.postMessage({
            messageType: "resetTimer",
        });
    };

    const addSplit = () => {
        vscode.postMessage({
            messageType: "addSplit",
        });
    };

    let currentSplitRow = null;
    let footerTimeView = null;

    const splitIndexToElementId = (splitIndex) => {
        return `split-${splitIndex}`;
    };

    const syncTimer = (message) => {
        if (!footerTimeView) {
            footerTimeView = document.getElementById("footer__time");
        }
        footerTimeView.textContent = message.fullString;

        if (!currentSplitRow) {
            return;
        }
        currentSplitRow.children[2].textContent = message.splitString;
    };

    const createSplitRow = (split, splitIndex) => {
        const splitRow = document.createElement("tr");
        splitRow.id = splitIndexToElementId(splitIndex);
        splitRow.innerHTML = `
            <td>
                <input type="text" value="-" />
            </td>
            <td>-</td>
            <td>${split.splitString}</td>`;
        return splitRow;
    };

    const updateSplitRow = (splitRow, split) => {
        splitRow.children[2].textContent = split.splitString;
    };

    const syncSplits = (message) => {
        const splitRowsContainer = document.getElementById("body__container");
        const splitRows = splitRowsContainer.children

        message.splits
            .forEach((split, splitIndex) => {
                if (splitIndex >= splitRows.length) {
                    const splitRow = createSplitRow(split, splitIndex);
                    splitRowsContainer.appendChild(splitRow);
                } else {
                    const splitRow = splitRows[splitIndex];
                    updateSplitRow(splitRow, split);
                }
            });

        const currentSplitViewId = splitIndexToElementId(message.splitIndex);
        currentSplitRow = document.getElementById(currentSplitViewId);
    }

    window.addEventListener("message", event => {
        const message = event.data;
        switch (message.messageType) {
            case "syncTimer":
                syncTimer(message);
                return;

            case "syncSplits":
                syncSplits(message);
                return;

            default:
                throw new Error(`unexpected message: ${message}`);
        }
    });
</script>

<body>
    <table>
        <thead>
            <tr>
                <th class="header__split">Split</th>
                <th class="header__diff">+/-</th>
                <th class="header__time">Time</th>
            </tr>
        </thead>
        <tbody id="body__container"></tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <div id="footer__controls">
                        <button id="footer__add" class="footer__button" onclick="addSplit()">
                            <span class="codicon codicon-add"></span>
                        </button>
                        <button id="footer__remove" class="footer__button">
                            <span class="codicon codicon-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="footer__time" colspan="3">0.00</td>
            </tr>
        </tfoot>
    </table>

    <hr>
    <button onclick="startTimer()">Start</button>
    <button onclick="stopTimer()">Stop</button>
    <button onclick="splitTimer()">Split</button>
    <button onclick="resetTimer()">Reset</button>
    <hr>
</body>

</html>