<!DOCTYPE html>
<html lang="en">

<head>
    <title>speedrun</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{styles}}">
    <link rel="stylesheet" href="{{codicons}}">
</head>

<script>
    const vscode = acquireVsCodeApi();

    const startTimer = () => {
        vscode.postMessage({
            messageType: "startTimer"
        });
    };

    const stopTimer = () => {
        vscode.postMessage({
            messageType: "stopTimer"
        });
    };

    const resetTimer = () => {
        vscode.postMessage({
            messageType: "resetTimer",
        });
    };

    const addSplit = () => {
        vscode.postMessage({
            messageType: "addSplit",
        });
    };

    const removeSplit = () => {
        vscode.postMessage({
            messageType: "removeSplit",
        });
    };

    const updateSplitLabel = (splitIndex, label) => {
        vscode.postMessage({
            messageType: "updateSplitLabel",
            splitIndex: splitIndex,
            label: label,
        });
    };

    const updateSplitTarget = (splitIndex, target) => {
        const components = target.split(":");
        const multipliers = [
            1000, // seconds
            60 * 1000, // minutes,
            60 * 60 * 1000, // hours
        ];
        const targetMilliseconds = multipliers.reduce(
            (previous, multiplier, index) => {
                if (index >= components.length) {
                    return previous;
                }
                return previous + multiplier * components[components.length - 1 - index];
            }, 0
        );

        vscode.postMessage({
            messageType: "updateSplitTarget",
            splitIndex: splitIndex,
            targetMilliseconds: targetMilliseconds,
        });
    };

    let currentSplitRow = null;
    let tableTimeView = null;

    const splitIndexToElementId = (splitIndex) => {
        return `split-${splitIndex}`;
    };

    const syncTimer = (message) => {
        if (!tableTimeView) {
            tableTimeView = document.getElementById("table__time");
        }
        tableTimeView.textContent = message.fullString;

        if (!currentSplitRow) {
            return;
        }
        currentSplitRow.children[3].textContent = message.splitString;
    };

    const createSplitRow = (split, splitIndex) => {
        const { label } = split;
        const splitRow = document.createElement("tr");
        splitRow.id = splitIndexToElementId(splitIndex);
        splitRow.innerHTML = `
            <td>
                <input
                    type="text"
                    value=${label}
                    onchange="updateSplitLabel(${splitIndex}, this.value)"
                />
            </td>
            <td></td>
            <td class="row__target">
                <input
                    type="text"
                    value="-"
                    onchange="updateSplitTarget(${splitIndex}, this.value)"
                />
            </td>
            <td></td>`;
        syncSplitRow(splitRow, split);
        return splitRow;
    };

    const syncSplitDiff = (splitRow, diff) => {
        if (diff === "-") {
            splitRow.children[1].className = "";
        } else {
            splitRow.children[1].className = diff[0] === "+"
                ? "row__diff--green"
                : "row__diff--red";
        }
        splitRow.children[1].textContent = diff;
    };

    const syncSplitTarget = (splitRow, target) => {
        splitRow.children[2].value = target;
    };

    const syncSplitActual = (splitRow, actual) => {
        splitRow.children[3].textContent = actual;
    };

    const syncSplitRow = (splitRow, split) => {
        const { diff, target, actual } = split;
        syncSplitDiff(splitRow, diff);
        syncSplitTarget(splitRow, target);
        syncSplitActual(splitRow, actual);
    };

    const syncSplits = (message) => {
        const splitRowsContainer = document.getElementById("body__container");
        const splitRows = splitRowsContainer.children

        while (splitRows.length > message.splits.length) {
            const lastRow = splitRowsContainer.lastElementChild;
            splitRowsContainer.removeChild(lastRow);
        }

        message.splits
            .forEach((split, splitIndex) => {
                if (splitIndex >= splitRows.length) {
                    const splitRow = createSplitRow(split, splitIndex);
                    splitRowsContainer.appendChild(splitRow);
                } else {
                    const splitRow = splitRows[splitIndex];
                    syncSplitRow(splitRow, split);
                }
            });

        const currentSplitViewId = splitIndexToElementId(message.splitIndex);
        currentSplitRow = document.getElementById(currentSplitViewId);

        const tableContainerView = document.getElementById("table__container")
        tableContainerView.scrollTop = tableContainerView.scrollHeight;
    }

    window.addEventListener("message", event => {
        const message = event.data;
        switch (message.messageType) {
            case "syncTimer":
                syncTimer(message);
                return;

            case "syncSplits":
                syncSplits(message);
                return;

            default:
                throw new Error(`unexpected message: ${message}`);
        }
    });
</script>

<body>
    <div id="table__container">
        <table>
            <thead>
                <tr>
                    <th class="header__split">Split</th>
                    <th class="header__diff">+/-</th>
                    <th class="header__target">Target</th>
                    <th class="header__time">Time</th>
                </tr>
            </thead>
            <tbody id="body__container"></tbody>
            <tfoot>
                <tr>
                    <td id="table__time" colspan="4">0.00</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <footer id="run__controls">
        <button class="run__button" onclick="addSplit()">
            <span class="codicon codicon-add"></span>
            Add
        </button>
        <button class="run__button" onclick="removeSplit()">
            <span class="codicon codicon-remove"></span>
            Remove
        </button>

        <button class="run__button" onclick="startTimer()">
            <span class="codicon codicon-play"></span>
            Start
        </button>
        <button class="run__button" onclick="stopTimer()">
            <span class="codicon codicon-stop-circle"></span>
            Stop
        </button>
        <button class="run__button" onclick="resetTimer()">
            <span class="codicon codicon-clear-all"></span>
            Reset
        </button>
    </footer>
</body>

</html>