<!DOCTYPE html>
<html lang="en">

<head>
    <title>speedrun</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{styles}}">
</head>

<script>
    const vscode = acquireVsCodeApi();

    const startTimer = () => {
        vscode.postMessage({
            messageType: "startTimer"
        });
    };

    const stopTimer = () => {
        vscode.postMessage({
            messageType: "stopTimer"
        });
    };

    const splitTimer = () => {
        vscode.postMessage({
            messageType: "splitTimer"
        });
    };

    const resetTimer = () => {
        vscode.postMessage({
            messageType: "resetTimer",
        });
    };

    const addSplit = () => {
        splitNames.push("-");
        vscode.postMessage({
            messageType: "addSplit",
        });
    };

    let splits = [];
    let splitNames = ["-"];
    let currentSplitView = null;

    const splitIndexToElementId = (splitIndex) => {
        return `split-${splitIndex}`;
    };

    const syncTimer = (message) => {
        document.getElementById("currentTimeString").textContent = message.fullString;
        if (!currentSplitView) {
            return;
        }
        currentSplitView.children[2].textContent = message.splitString;
    };

    const updateSplitName = (value, splitIndex) => {
        splitNames[splitIndex] = value;
    };

    const createSplitView = (split, splitIndex) => {
        const splitView = document.createElement("tr");
        splitView.id = splitIndexToElementId(splitIndex);
        splitView.innerHTML = `
            <td>
                <input
                    type="text"
                    onchange="updateSplitName(this.value, splitIndex)"
                    value=${splitNames[splitIndex]}
                />
            </td>
            <td>-</td>
            <td>${split.splitString}</td>`;
        return splitView
    };

    const syncSplits = (message) => {
        const splitRows = document.getElementById("splitRows");
        splitRows.innerHTML = '';

        message.splits
            .map(createSplitView)
            .forEach((splitView) => splitRows.appendChild(splitView));

        const currentSplitViewId = splitIndexToElementId(message.splitIndex);
        currentSplitView = document.getElementById(currentSplitViewId);
    }

    window.addEventListener("message", event => {
        const message = event.data;
        switch (message.messageType) {
            case "syncTimer":
                syncTimer(message);
                return;

            case "syncSplits":
                syncSplits(message);
                return;

            default:
                throw new Error(`unexpected message: ${message}`);
        }
    });
</script>

<body>
    <table>
        <thead>
            <tr>
                <th class="header__split">Split</th>
                <th class="header__diff">+/-</th>
                <th class="header__time">Time</th>
            </tr>
        </thead>
        <tbody id="splitRows"></tbody>
        <tfoot>
            <tr>
                <td id="currentTimeString" colspan="3">0.00</td>
            </tr>
        </tfoot>
    </table>

    <hr>
    <button onclick="startTimer()">Start</button>
    <button onclick="stopTimer()">Stop</button>
    <button onclick="splitTimer()">Split</button>
    <button onclick="resetTimer()">Reset</button>
    <hr>
    <button onclick="addSplit()">Add Split</button>
</body>

</html>